.submit-wrapper {
    background-color: 	#4d4d4d;
    margin-bottom: 15px;
    border-radius: 0.25rem;
    padding: 15px;
    border: 1px solid #000000;
}


.post-wrapper {
    background-color: #4d4d4d;
    margin-bottom: 15px;
    border-radius: 0.25rem;
}

p {
    padding: 10px;
}

.down-enabled {
    color: blue;
}

.up-enabled {
    color: orange;
}