<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">

</head>
<body>
<link rel="stylesheet" type="text/css" href="/css/auth.css">

<form id="form-search" action="/searchbytag" method="post">
    <div class="input-group mb-3">
        <input type="text" class="form-control" name="tags" placeholder="Search a company">
        <div class="input-group-append">
            <button class="btn btn-primary submit" type="submit">Search</button>
        </div>
    </div>
  </form>

</body>
</html>
